<!-- ! Footer -->
<footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>2023 © Plataforma Gera Consig <a href="" target="_blank"
          rel="noopener noreferrer"></a></p>
    </div>
  </div>
</footer>
