<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gera Consig | Novo usuário</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/login/gera.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/admin/style.css">
</head>

<body>
  <div class="layer"></div>
  
  <!-- ! Body -->
  <div class="page-flex">

    <!-- ! Sidebar -->
    <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

    <div class="main-wrapper">
      <!-- ! Main nav -->
      <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Adicionar novo usuário"}) %>

      <!-- ! Main -->
      <main class="main users chart-page" id="skip-target">
        <div class="container">
          <div class="alert" style="display: none;"></div>
          <br>

          <div class="row">
            <div class="col-lg-12">
              <article class="white-block">
                <p style="font-size: 20px; margin-bottom: 10px; font-weight: bold; border-bottom: 2.5px solid #63636360; padding-bottom: 15px; display: flex; align-items: center;"><img src="/img/admin/usuario.png" width=28 height=28 alt="" style="margin-right: 12px;">Novo usuário</p>
                <br>
                <p style="font-size: 15px; margin-bottom: 10px; font-weight: bold;">Nome do usuário</p>
                <input type="text" name="name" id="name" style="border: 2px solid #F1660D; padding: 5px;" placeholder="Digite um nome para o usuário">
                <br>
                <br>
                <p style="font-size: 15px; margin-bottom: 10px; font-weight: bold;">Email:</p>
                <input type="text" name="email" id="email" style="border: 2px solid #F1660D; padding: 5px;" placeholder="Digite um email para o usuário">
                <br>
                <br>
                <p style="font-size: 15px; margin-bottom: 10px; font-weight: bold;">Senha:</p>
                <input type="text" name="password" id="password" style="border: 2px solid #F1660D; padding: 5px;" placeholder="Digite uma senha para o usuário">
                <br>
                <br>
                <p style="font-size: 15px; margin-bottom: 10px; font-weight: bold; display: flex; align-items: center;">Valor pago:</p>
                <input type="text" name="value" id="value" style="border: 2px solid #F1660D; padding: 5px;" placeholder="R$">
                <br>
                <br>
                <button style="color: #FFFFFF; background-color: #F1660D; padding: 13px; border-radius: 10px" onclick="save()">Inserir usuário</button>
              </article>
            </div>
          </div>
        </div>
      </main>

      <%- include('../partials/footer-platform') %>
    </div>
  </div>


<!-- Chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.28.0/js/jquery.fileupload.min.js"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<!-- Icons library -->
<script src="js/admin/feather.min.js"></script>
</body>
</html>

<script>
  const name = document.querySelector("#name")
  const email = document.querySelector("#email")
  const password = document.querySelector("#password")
  const value = document.querySelector("#value")

  function save() {
    const errors = []

    if (name.value.length == 0) {
      name.style = "border: 2px solid #e00d0d !important"
      errors.push("error")
    }
    if (password.value.length == 0) {
      password.style.border = "2px solid #e00d0d";
      errors.push("error")
    }
    if (email.value.length == 0) {
      email.style.border = "2px solid #e00d0d";
      errors.push("error")
    }
    if (value.value.length == 0) {
      value.style.border = "2px solid #e00d0d";
      errors.push("error")
    }
    if (errors.length == 0) {
      fetch('/platform/new_user/save', {
        method: 'POST',
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({name: name.value, email: email.value, password: password.value, value: value.value})
      })
      .then((response) => {
          if (response.ok) {
              const divMessage = document.querySelector(".alert");
              divMessage.style.display = "flex";
              divMessage.innerHTML = "";
              const message = document.createElement("p");
              const img = document.createElement("img");
              img.src = "/img/admin/Bulk/checked.png"
              img.width = "28"
              img.height = "28"
              message.classList.add("message-notify");
              message.innerText = "Usuário adicionado com sucesso!";
              divMessage.appendChild(img);
              divMessage.appendChild(message);

              setTimeout(() => {
                divMessage.style.display = "none";
              }, 4000);
          } else {
            const divMessage = document.querySelector(".alert");
            divMessage.style.display = "flex";
            divMessage.innerHTML = "";
            const message = document.createElement("p");
            const img = document.createElement("img");
            img.src = "/img/admin/Bulk/checked.png"
            img.width = "28"
            img.height = "28"
            message.classList.add("message-notify");
            message.innerText = "Erro";
            divMessage.appendChild(img);
            divMessage.appendChild(message);

            setTimeout(() => {
              divMessage.style.display = "none";
            }, 4000);

            throw new Error("Erro ao processar a resposta da requisição");
          }
      })
      .catch((error) => {
        const divMessage = document.querySelector(".alert");
        divMessage.style.display = "flex";
        divMessage.innerHTML = "";
        const message = document.createElement("p");
        const img = document.createElement("img");
        img.src = "/img/admin/Bulk/checked.png"
        img.width = "28"
        img.height = "28"
        message.classList.add("message-notify");
        message.innerText = "Erro";
        divMessage.appendChild(img);
        divMessage.appendChild(message);

        setTimeout(() => {
          divMessage.style.display = "none";
        }, 4000);
      })
    }
  }

</script>